@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600|Open+Sans+Condensed:300,700);
@font-face {
  font-family: 'supercell-magic';
  src: url("../fonts/Supercell-magic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "supercell-magic", Arial, sans-serif; }

body {
  font-family: Arial, sans-serif; }

ul, li {
  list-style: none; }

ul {
  padding-left: 0; }

a {
  color: #337ab7; }
  a:hover {
    text-decoration: none;
    color: #23527c; }

#menu-toggle {
  display: inherit; }
  @media (min-width: 768px) {
    #menu-toggle {
      display: none; } }

.cancel-button {
  font-family: "supercell-magic", Arial, sans-serif;
  color: white;
  border: none;
  height: 3.8rem;
  background: #999999; }
  .cancel-button:hover, .cancel-button:focus {
    color: white;
    outline: none; }
  .cancel-button:hover, .cancel-button:focus {
    background: #666666; }

.submit-button {
  font-family: "supercell-magic", Arial, sans-serif;
  color: white;
  border: none;
  height: 3.8rem;
  background: #F27935; }
  .submit-button:hover, .submit-button:focus {
    color: white;
    outline: none; }
  .submit-button:hover, .submit-button:focus {
    background: #F9690E; }
  .submit-button.inactive, .submit-button:disabled {
    background: #666666;
    pointer-events: none;
    opacity: 0.8; }

.reset-button {
  font-family: "supercell-magic", Arial, sans-serif;
  color: white;
  border: none;
  height: 3.8rem;
  background: #f15e4e; }
  .reset-button:hover, .reset-button:focus {
    color: white;
    outline: none; }
  .reset-button:hover, .reset-button:focus {
    background: #EF4836; }
  .reset-button.inactive, .reset-button:disabled {
    background: #666666;
    pointer-events: none;
    opacity: 0.8; }

.okay-button {
  font-family: "supercell-magic", Arial, sans-serif;
  color: white;
  border: none;
  height: 3.8rem;
  background: #79d2a6; }
  .okay-button:hover, .okay-button:focus {
    color: white;
    outline: none; }
  .okay-button:hover, .okay-button:focus {
    background: #66CC99; }
  .okay-button.inactive, .okay-button:disabled {
    background: #666666;
    pointer-events: none;
    opacity: 0.8; }

.modal-dialog button {
  width: 10rem; }
.modal-dialog .modal-confirmation-message {
  line-height: 1.5; }

@media (min-width: 992px) {
  .body-for-sticky-bottom {
    margin-bottom: 56px;
    margin-top: 1rem; }

  .sticky-bottom-bar {
    background: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 250px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #bbbbbb; } }
.uib-datepicker-popup {
  font-family: Arial, sans-serif; }

.fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
  margin-left: -3rem; }

.login-wrapper {
  width: 35rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login-wrapper .login-logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .login-wrapper .signup-tab, .login-wrapper .login-tab {
    width: 50%;
    text-align: center; }
  .login-wrapper .alternative-login {
    margin-bottom: 2rem; }
    .login-wrapper .alternative-login label {
      border-radius: 0;
      border: none;
      box-shadow: none; }
      .login-wrapper .alternative-login label.active {
        background: #F9690E;
        color: white; }
  .login-wrapper .remember-me {
    color: white;
    padding-left: 0; }
  .login-wrapper .forget-password {
    padding-right: 0; }
    .login-wrapper .forget-password a {
      color: white; }
      .login-wrapper .forget-password a:hover {
        color: #337ab7; }

.login-form input {
  height: 3.8rem; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #wrapper.toggled, #wrapper.not-log-in {
    padding-left: 250px; }
    #wrapper.toggled #sidebar-wrapper, #wrapper.not-log-in #sidebar-wrapper {
      width: 250px; }
    #wrapper.toggled #page-content-wrapper, #wrapper.not-log-in #page-content-wrapper {
      position: absolute;
      margin-right: -250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 15px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0; }
  .sidebar-nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem; }
  .sidebar-nav li:hover {
    background: #666666;
    cursor: pointer; }
  .sidebar-nav li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "supercell-magic", Arial, sans-serif;
    display: block;
    padding: 2rem 3rem; }
    .sidebar-nav li a:hover {
      text-decoration: none; }
    .sidebar-nav li a.active {
      color: #F9690E; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
    #wrapper.toggled, #wrapper.not-log-in {
      padding-left: 0; }
      #wrapper.toggled #sidebar-wrapper, #wrapper.not-log-in #sidebar-wrapper {
        width: 0; }
      #wrapper.toggled #page-content-wrapper, #wrapper.not-log-in #page-content-wrapper {
        position: relative;
        margin-right: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper {
    padding: 0 15px;
    position: relative; } }
#menu-toggle {
  position: absolute;
  top: 0;
  left: 0; }

.user-profile-wrapper {
  font-size: 1.6rem;
  margin-bottom: 2rem; }
  .user-profile-wrapper #simple-dropdown {
    padding: 2rem 3rem;
    background: #333333;
    color: white; }
    .user-profile-wrapper #simple-dropdown:hover {
      background: #666666;
      cursor: pointer; }
  .user-profile-wrapper .dropdown-menu {
    min-width: 0;
    width: 250px;
    background: #333333;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Arial, sans-serif; }
    .user-profile-wrapper .dropdown-menu > li a {
      font-size: 1.6rem;
      font-family: Arial, sans-serif;
      padding: 1rem 3rem; }
      .user-profile-wrapper .dropdown-menu > li a:hover {
        background: #666666;
        color: white; }
  .user-profile-wrapper .user-name-wrapper {
    position: relative;
    max-width: 20rem;
    padding-right: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .user-profile-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0.75rem;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent; }

.clan-info-header {
  margin-top: 3rem; }

.clan-badge-wrapper {
  position: relative; }
  .clan-badge-wrapper .clan-level {
    color: white;
    z-index: 2;
    font-family: "supercell-magic", "Open Sans Condensed", sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 12%;
    left: 51.5%;
    transform: translateX(-50%); }
    @media (min-width: 992px) {
      .clan-badge-wrapper .clan-level {
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .clan-badge-wrapper .clan-level {
        font-size: 1.2rem; } }
  .clan-badge-wrapper .clan-overlay-wrapper {
    width: 36%;
    max-width: 48px;
    position: absolute;
    top: 11%;
    left: 51%;
    transform: translateX(-50%); }
  .clan-badge-wrapper .clan-badge-overlay {
    width: 100%; }
  .clan-badge-wrapper .clan-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 120px; }

.clan-name {
  font-size: 2.4rem; }
  @media (min-width: 768px) {
    .clan-name {
      font-size: 3.6rem; } }

.clan-tag {
  font-size: 1.3rem; }
  @media (min-width: 992px) {
    .clan-tag {
      font-size: 1.8rem; } }

.clan-extra-info {
  padding-left: 2rem; }

.member-list {
  margin-top: 4rem; }
  .member-list ul > li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background: #f3f3f3; }
  .member-list .member-list-wrapper {
    padding: 2rem 30px; }
  .member-list .member-rank {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 2rem;
    line-height: 48px; }
  .member-list .member-name {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 2rem; }
  .member-list .member-trophies {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 48px; }
    .member-list .member-trophies img {
      max-width: 25%; }
  @media (max-width: 768px) {
    .member-list .member-rank, .member-list .member-name, .member-list .member-trophies {
      font-size: 1.2rem; }
    .member-list .member-rank, .member-list .member-trophies {
      line-height: 37px; } }

/*
LARGE START WAR BUTTON PAGE
 */
.start-war-section {
  margin-top: 15rem; }

.start-war-button-large {
  margin-top: 2rem;
  font-family: "supercell-magic", Arial, sans-serif;
  background: #F27935;
  color: white;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 1rem; }
  .start-war-button-large:hover, .start-war-button-large:focus {
    background: #F9690E;
    color: white;
    outline: none; }
  .start-war-button-large img {
    width: 4.8rem; }

.member-view h2 {
  line-height: 1.5; }

/*
START NEW WAR PAGE
 */
.start-new-war-header {
  margin-top: 3rem; }

.start-war-action-buttons button {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1rem; }

.war-basic-settings {
  margin-top: 2rem;
  margin-bottom: 2rem; }

#war-size-button {
  color: white;
  background: #66CC99;
  padding: 0.5rem 1.5rem;
  font-size: 1.7rem;
  font-family: Arial, sans-serif; }
  #war-size-button .caret {
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }

.war-size-dropdown {
  background: #66CC99;
  color: white;
  min-width: 11rem;
  padding: 0;
  font-family: Arial, sans-serif; }
  .war-size-dropdown li {
    padding: 0.5rem 1.5rem;
    font-size: 1.7rem; }
    .war-size-dropdown li:hover {
      background: #40bf80;
      cursor: pointer; }

.select-participants .in-out-war-button {
  width: 11rem;
  background: #EF4836;
  color: white;
  font-size: 1.5rem;
  font-family: "supercell-magic", Arial, sans-serif;
  padding: 5px 12px; }
  .select-participants .in-out-war-button.in-war {
    background: #66CC99; }
  .select-participants .in-out-war-button:hover, .select-participants .in-out-war-button:focus {
    outline: none; }
.select-participants .participants-list > li {
  padding: 0.5rem 0;
  margin: 0.1rem 0;
  background: #f3f3f3;
  line-height: 33px; }
  .select-participants .participants-list > li .participant-name {
    font-size: 1.5rem;
    font-family: "supercell-magic", Arial, sans-serif; }

.selection-list-wrapper .selection-list-draggable {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 3rem;
  padding-left: 1.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #dddddd;
  font-size: 1.5rem;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */ }
  .selection-list-wrapper .selection-list-draggable:hover {
    cursor: move; }
  .selection-list-wrapper .selection-list-draggable .draggable-icon {
    position: absolute;
    color: #666666;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background: #fdfdfd; }
  .selection-list-wrapper .selection-list-draggable .removable-icon {
    position: absolute;
    color: #666666;
    top: 0;
    right: 0;
    border-left: 1px solid #ddd;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 1rem; }
    .selection-list-wrapper .selection-list-draggable .removable-icon:hover {
      cursor: pointer;
      background: #dddddd; }

.clanwar-planner-wrapper {
  margin-top: 1.5rem;
  position: relative; }

.action-buttons-wrapper {
  position: absolute;
  right: 0;
  top: 1rem; }
  .action-buttons-wrapper button {
    font-size: 1rem;
    height: 30px;
    margin-left: 0.5rem; }

.planner-tabs {
  margin-top: 1rem; }
  .planner-tabs .nav-tabs {
    font-family: "supercell-magic", Arial, sans-serif;
    margin-bottom: 2rem; }

.sign-up-list > li {
  padding: 0.5rem 0;
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #f3f3f3;
  font-family: "supercell-magic", Arial, sans-serif; }
  .sign-up-list > li .opponent-index, .sign-up-list > li .sign-up-preference {
    line-height: 42px; }
  .sign-up-list > li .sign-up-checkbox {
    font-size: 3rem; }
  .sign-up-list > li .sign-up-preference {
    font-size: 1.6rem; }
    .sign-up-list > li .sign-up-preference:hover {
      cursor: pointer; }

.current-signer-list {
  font-family: Arial, sans-serif;
  font-size: 1.5rem; }
  .current-signer-list .signer-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background: white;
    border: 1px solid #dddddd;
    font-size: 1.4rem;
    pointer-events: none; }
  .current-signer-list .current-user {
    color: #F9690E; }

.arrange-drop-list {
  min-height: 42px; }

.arrange-label-list {
  display: inline-block;
  width: 32%;
  font-family: Arial, sans-serif;
  background: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-right: 0.5rem;
  border: 1px solid #dddddd;
  font-size: 1.4rem;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */ }
  .arrange-label-list:hover {
    cursor: move; }
  .arrange-label-list .arrange-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .arrange-label-list .arrange-label.inactive {
      pointer-events: none; }
  .arrange-label-list .draggable-icon {
    position: absolute;
    color: #999999;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.1rem;
    background: #fdfdfd; }
  .arrange-label-list .removable-icon {
    position: absolute;
    color: #666666;
    top: 0;
    right: 0;
    border-left: 1px solid #ddd;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
    .arrange-label-list .removable-icon:hover {
      cursor: pointer;
      background: #dddddd; }

.waiting-list-title {
  margin-bottom: 2.7rem; }

.waitinglist-label-list {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #dddddd;
  font-size: 1.4rem;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */ }
  .waitinglist-label-list:hover {
    cursor: move; }
  .waitinglist-label-list .draggable-icon {
    position: absolute;
    color: #999999;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background: #fdfdfd; }
  .waitinglist-label-list .waitinglist-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.arrange-remove-button {
  position: absolute;
  right: 0.1rem;
  top: 1rem;
  font-size: 1.8rem;
  color: #337ab7; }
  .arrange-remove-button:hover {
    cursor: pointer;
    color: #23527c; }

.action-buttons button {
  width: 12rem; }

.war-details-wrapper input.ng-invalid {
  outline: 1px solid #EF4836; }

.war-log-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-family: "supercell-magic", Arial, sans-serif; }

.war-log-add-button {
  font-size: 5rem;
  top: 1.75rem;
  padding-right: 8.5rem;
  color: #F27935; }
  .war-log-add-button:hover {
    cursor: pointer;
    color: #F9690E; }

.button-actions-wrapper.edit-button-wrapper {
  position: absolute;
  right: 7.75rem;
  bottom: 1rem; }
.button-actions-wrapper button {
  padding-left: 3rem;
  padding-right: 3rem; }

.clan-edit-header {
  margin-bottom: 2rem;
  color: #F9690E;
  font-size: 2rem; }

.your-clan-name {
  line-height: 3.4rem; }

.extra-edit-field {
  margin-bottom: 2rem; }

.warlog-list-wrapper .warlog-list {
  background: #f8b4ac;
  padding: 1.5rem;
  margin: 0.1rem 0; }
  .warlog-list-wrapper .warlog-list.won {
    background: #b3e6cc; }
  .warlog-list-wrapper .warlog-list .warlog-clan-name, .warlog-list-wrapper .warlog-list .opponent-clan-name, .warlog-list-wrapper .warlog-list .warlog-detail {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.6rem; }
  .warlog-list-wrapper .warlog-list .vs-text {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.4rem; }
  .warlog-list-wrapper .warlog-list .vs-text, .warlog-list-wrapper .warlog-list .warlog-detail {
    line-height: 42px; }
  .warlog-list-wrapper .warlog-list .war-score {
    font-size: 1.2rem; }
  .warlog-list-wrapper .warlog-list .warlog-date {
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #666666;
    font-size: 1.2rem; }

.war-details-back-button a {
  display: block;
  position: absolute;
  top: 1rem;
  font-size: 4rem;
  color: #F27935;
  z-index: 99; }
  .war-details-back-button a:hover {
    color: #F9690E; }

.war-details-header {
  font-family: "supercell-magic", Arial, sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f8b4ac; }
  .war-details-header.won {
    background: #b3e6cc; }

.details-date {
  background: white;
  width: 9rem;
  border: 1px solid #999999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  right: 0; }
  .details-date .details-date-month {
    font-size: 1rem; }
  .details-date .details-date-day {
    font-size: 3rem; }
  .details-date .details-date-year {
    font-size: 1rem; }

.details-header-section .details-clan-name {
  font-size: 2.2rem; }
.details-header-section .details-clan-score {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 5rem; }

.war-result-text {
  font-size: 3rem;
  margin: 1rem 0; }

.war-details-list-wrapper .war-details-list {
  background: #f3f3f3;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 0.1rem 0; }
  .war-details-list-wrapper .war-details-list .war-rank, .war-details-list-wrapper .war-details-list .war-member {
    font-family: "supercell-magic", Arial, sans-serif; }
  .war-details-list-wrapper .war-details-list .war-stars img {
    width: 50%;
    margin-top: -0.6rem; }
.war-details-list-wrapper .btn-group-stars {
  width: 100%;
  margin-top: -0.75rem; }
.war-details-list-wrapper #stars-dropdown, .war-details-list-wrapper .stars-dropdown-wrapper {
  min-width: 0;
  width: 100%; }
  .war-details-list-wrapper #stars-dropdown img, .war-details-list-wrapper .stars-dropdown-wrapper img {
    width: 6rem; }
.war-details-list-wrapper #stars-dropdown {
  text-align: left; }
  .war-details-list-wrapper #stars-dropdown .caret {
    margin-left: 0.5rem;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }
.war-details-list-wrapper .stars-dropdown-wrapper > li a {
  padding-left: 1.2rem; }
.war-details-list-wrapper .edit-target-dropdown {
  min-width: 0;
  width: 100%; }
  .war-details-list-wrapper .edit-target-dropdown > li a {
    padding-left: 0;
    padding-right: 0; }
.war-details-list-wrapper .attack-header-edit {
  margin-bottom: 1rem; }

/*# sourceMappingURL=style.css.map */
