@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600|Open+Sans+Condensed:300,700);
@font-face {
  font-family: 'supercell-magic';
  src: url("../fonts/Supercell-magic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "supercell-magic", Arial, sans-serif; }

body {
  font-family: Arial, sans-serif; }

ul, li {
  list-style: none; }

ul {
  padding-left: 0; }

a {
  color: #337ab7; }
  a:hover {
    text-decoration: none;
    color: #23527c; }

#menu-toggle {
  display: inherit; }
  @media (min-width: 768px) {
    #menu-toggle {
      display: none; } }

.modal-footer {
  text-align: left;
  padding: 8px 15px; }

/*
Sticky Modal Header and Footer for medium and large screen
 */
@media (min-width: 992px) {
  .modal-dialog {
    height: calc(100% - 60px); }

  .modal-content {
    height: 100%; }

  .modal-header {
    position: fixed;
    width: 100%;
    top: 0; }

  .modal-body {
    height: calc(100% - 51px - 56px);
    margin-top: 51px;
    margin-bottom: 56px;
    overflow-y: scroll; }

  .modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%; } }
.fullscreen-wrapper {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative; }

.login-wrapper {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%); }
  .login-wrapper .login-logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .login-wrapper .login-logo {
        width: 40%; } }
    @media (min-width: 992px) {
      .login-wrapper .login-logo {
        width: 25%; } }
    @media (min-width: 1200px) {
      .login-wrapper .login-logo {
        width: 20%; } }
  .login-wrapper .signup-tab, .login-wrapper .login-tab {
    width: 50%;
    text-align: center; }
  .login-wrapper .alternative-login {
    margin-bottom: 2rem; }
    .login-wrapper .alternative-login label {
      border-radius: 0;
      border: none;
      box-shadow: none; }
      .login-wrapper .alternative-login label.active {
        background: #F9690E;
        color: white; }
  .login-wrapper .remember-me {
    color: white;
    padding-left: 0; }
  .login-wrapper .forget-password {
    padding-right: 0; }
    .login-wrapper .forget-password a {
      color: white; }
      .login-wrapper .forget-password a:hover {
        color: #337ab7; }

.login-form input {
  height: 3.8rem; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #wrapper.toggled {
    padding-left: 250px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px; }
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 15px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0; }
  .sidebar-nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem; }
  .sidebar-nav li:hover {
    background: #666666;
    cursor: pointer; }
  .sidebar-nav li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "supercell-magic", Arial, sans-serif;
    display: block;
    padding: 2rem 3rem; }
    .sidebar-nav li a:hover {
      text-decoration: none; }
    .sidebar-nav li a.active {
      color: #F9690E; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
    #wrapper.toggled {
      padding-left: 0; }
      #wrapper.toggled #sidebar-wrapper {
        width: 0; }
      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper {
    padding: 0 15px;
    position: relative; } }
#menu-toggle {
  position: absolute;
  top: 0;
  left: 0; }

.clan-info-header {
  margin-top: 3rem; }

.clan-badge-wrapper {
  position: relative; }
  .clan-badge-wrapper .clan-level {
    color: white;
    z-index: 2;
    font-family: "supercell-magic", "Open Sans Condensed", sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 12%;
    left: 51.5%;
    transform: translateX(-50%); }
    @media (min-width: 992px) {
      .clan-badge-wrapper .clan-level {
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .clan-badge-wrapper .clan-level {
        font-size: 1.2rem; } }
  .clan-badge-wrapper .clan-overlay-wrapper {
    width: 36%;
    max-width: 48px;
    position: absolute;
    top: 11%;
    left: 51%;
    transform: translateX(-50%); }
  .clan-badge-wrapper .clan-badge-overlay {
    width: 100%; }
  .clan-badge-wrapper .clan-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 120px; }

.clan-name {
  font-size: 2.4rem; }
  @media (min-width: 768px) {
    .clan-name {
      font-size: 3.6rem; } }

.clan-tag {
  font-size: 1.3rem; }
  @media (min-width: 992px) {
    .clan-tag {
      font-size: 1.8rem; } }

.clan-extra-info {
  padding-left: 2rem; }

.member-list {
  margin-top: 4rem; }
  .member-list ul > li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background: #f3f3f3; }
  .member-list .member-list-wrapper {
    padding: 2rem 30px; }
  .member-list .member-rank {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 2rem;
    line-height: 48px; }
  .member-list .member-name {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 2rem; }
  .member-list .member-trophies {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 48px; }
    .member-list .member-trophies img {
      max-width: 25%; }
  @media (max-width: 768px) {
    .member-list .member-rank, .member-list .member-name, .member-list .member-trophies {
      font-size: 1.2rem; }
    .member-list .member-rank, .member-list .member-trophies {
      line-height: 37px; } }

.start-war-section {
  margin-top: 10rem; }

.opponent-clan {
  margin-top: 1rem; }

.start-war-button {
  font-family: "supercell-magic", Arial, sans-serif;
  background: #F27935;
  color: white;
  width: 11rem;
  font-size: 1.8rem; }
  .start-war-button.inactive {
    background: #999999;
    pointer-events: none; }
  .start-war-button:hover, .start-war-button:focus {
    background: #F9690E;
    outline: none;
    color: white; }

.quit-x-button {
  font-size: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem; }

.start-war-button-large {
  margin-top: 2rem;
  font-family: "supercell-magic", Arial, sans-serif;
  background: #F27935;
  color: white;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 1rem; }
  .start-war-button-large:hover, .start-war-button-large:focus {
    background: #F9690E;
    color: white;
    outline: none; }
  .start-war-button-large img {
    width: 4.8rem; }

#war-size-button {
  color: white;
  background: #66CC99;
  width: 11rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.7rem; }
  #war-size-button .caret {
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }

.war-size-dropdown {
  background: #66CC99;
  color: white;
  width: 11rem;
  min-width: 11rem;
  padding: 0; }
  .war-size-dropdown li {
    padding: 0.5rem 1.5rem;
    font-size: 1.7rem; }
    .war-size-dropdown li:hover {
      background: #40bf80;
      cursor: pointer; }

.select-participants {
  margin-top: 1rem; }
  .select-participants .in-out-war-button {
    width: 11rem;
    background: #EF4836;
    color: white;
    font-size: 1.6rem;
    font-family: "supercell-magic", Arial, sans-serif; }
    .select-participants .in-out-war-button.in-war {
      background: #66CC99; }
    .select-participants .in-out-war-button:hover, .select-participants .in-out-war-button:focus {
      outline: none; }
  .select-participants .participants-list > li {
    padding: 0.5rem 0;
    margin: 0.1rem 0;
    background: #f3f3f3;
    line-height: 36px; }
    .select-participants .participants-list > li .participant-name, .select-participants .participants-list > li .participant-index, .select-participants .participants-list > li .participant-war-position {
      font-size: 1.5rem;
      font-family: "supercell-magic", Arial, sans-serif; }

.planner-tabs {
  margin-top: 1rem; }
  .planner-tabs .nav-tabs {
    font-family: "supercell-magic", Arial, sans-serif;
    margin-bottom: 2rem; }

.sign-up-title {
  font-size: 2rem;
  margin-bottom: 2rem; }

.sign-up-list > li {
  padding: 0.5rem 0;
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #f3f3f3;
  font-family: "supercell-magic", Arial, sans-serif; }
  .sign-up-list > li .opponent-index, .sign-up-list > li .sign-up-preference {
    line-height: 42px; }
  .sign-up-list > li .sign-up-checkbox {
    font-size: 3rem; }
  .sign-up-list > li .sign-up-preference {
    font-size: 1.6rem; }
    .sign-up-list > li .sign-up-preference:hover {
      cursor: pointer; }

.current-signer-list {
  font-family: Arial, sans-serif;
  font-size: 1.5rem; }
  .current-signer-list .signer-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    height: 42px;
    pointer-events: none; }
  .current-signer-list.contains-current .signer-label:last-child {
    color: #F9690E; }

.arrange-drop-list {
  min-height: 42px; }

.arrange-labels {
  line-height: 28px;
  height: 42px;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .arrange-labels.inactive {
    pointer-events: none; }

.waitinglist-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; }

.arrange-remove-button {
  position: absolute;
  right: 0.1rem;
  top: 1rem;
  font-size: 1.8rem;
  color: #337ab7; }
  .arrange-remove-button:hover {
    cursor: pointer;
    color: #23527c; }

.cancel-button {
  font-family: "supercell-magic", Arial, sans-serif;
  background: #999999;
  color: white;
  border: none;
  height: 3.8rem; }
  .cancel-button:hover, .cancel-button:focus {
    background: #666666;
    color: white;
    outline: none; }

.submit-button {
  font-family: "supercell-magic", Arial, sans-serif;
  background: #F27935;
  color: white;
  border: none;
  height: 3.8rem; }
  .submit-button:hover, .submit-button:focus {
    background: #F9690E;
    color: white;
    outline: none; }
  .submit-button.inactive {
    background: #666666;
    pointer-events: none; }

.action-buttons {
  margin-bottom: 2rem; }

.war-log-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-family: "supercell-magic", Arial, sans-serif; }

.warlog-list-wrapper .warlog-list {
  background: #f8b4ac;
  padding: 1.5rem;
  margin: 0.1rem 0; }
  .warlog-list-wrapper .warlog-list.won {
    background: #b3e6cc; }
  .warlog-list-wrapper .warlog-list .warlog-clan-name, .warlog-list-wrapper .warlog-list .opponent-clan-name, .warlog-list-wrapper .warlog-list .warlog-detail {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.6rem; }
  .warlog-list-wrapper .warlog-list .vs-text {
    font-family: "supercell-magic", Arial, sans-serif;
    font-size: 1.4rem; }
  .warlog-list-wrapper .warlog-list .vs-text, .warlog-list-wrapper .warlog-list .warlog-detail {
    line-height: 42px; }
  .warlog-list-wrapper .warlog-list .war-score {
    font-size: 1.2rem; }
  .warlog-list-wrapper .warlog-list .warlog-date {
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #666666;
    font-size: 1.2rem; }

.war-details-header {
  font-family: "supercell-magic", Arial, sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f8b4ac; }
  .war-details-header.won {
    background: #b3e6cc; }

.details-date {
  background: white;
  width: 9rem;
  border: 1px solid #999999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  right: 0; }
  .details-date .details-date-month {
    font-size: 1rem; }
  .details-date .details-date-day {
    font-size: 3rem; }
  .details-date .details-date-year {
    font-size: 1rem; }

.details-header-section .details-clan-name {
  font-size: 2.2rem; }
.details-header-section .details-clan-score {
  margin-top: 2rem;
  font-size: 5rem; }

.war-result-text {
  font-size: 3rem;
  margin: 1rem 0; }

.war-details-list-wrapper .war-details-list {
  background: #f3f3f3;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 0.1rem 0; }
  .war-details-list-wrapper .war-details-list .war-rank, .war-details-list-wrapper .war-details-list .war-member {
    font-family: "supercell-magic", Arial, sans-serif; }
  .war-details-list-wrapper .war-details-list .war-stars img {
    width: 50%;
    margin-top: -0.6rem; }

/*# sourceMappingURL=style.css.map */
