h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

body {
	font-family: $body-font;
}

ul, li {
	list-style: none;
}

ul {
	padding-left: 0;
}

a {
	color: $link-color;

	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}

#menu-toggle {
	display: inherit;
	
	@include small-screen-up {
		display: none;
	}
}

.cancel-button {
	@include cancel-button;
}

.submit-button {
	@include submit-button;
}

.reset-button {
	@include reset-button;
}

.okay-button {
	@include okay-button;
}

.modal-dialog {
	button {
		width: $modal-button-width;
	}

	.modal-confirmation-message {
		line-height: 1.5;
	}
}

@include medium-screen-up {

	.body-for-sticky-bottom {
		margin-bottom: $sticky-bottom-bar-height;
		margin-top: 1rem;
	}

	.sticky-bottom-bar {
		background: white;
		position: fixed;
		bottom: 0;
		right: 0;
		width: calc(100% - #{$sidebar-width});
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-top: 1px solid $medium-light-gray;
	}
}

.uib-datepicker-popup {
	font-family: $body-font;
}
