.fullscreen-wrapper {
	width: 100vw;
	height: 100vh;
	background: #000;
	position: relative;
	margin-left: -3rem;
}

.login-wrapper {
	width: $login-block-width;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	.login-logo {
		width: 60%;
		@include center-block;
	}

	.signup-tab, .login-tab {
		width: 50%;
		text-align: center;
	}

	.alternative-login {
		margin-bottom: 2rem;

		label {
			border-radius: 0;
			border: none;
			box-shadow: none;

			&.active {
				background: $orange;
				color: white;
			}
		}
	}

	.remember-me {
		color: white;
		padding-left: 0;
	}

	.forget-password {
		padding-right: 0;

		a {
			color: white;

			&:hover {
				color: $link-color;
			}
		}
	}
}

.login-form {
	input {
		height: $general-button-height;
	}
}

