@mixin extra-small-screen-only {
	@media #{$extra-small-screen-only} { @content; }
}

@mixin small-screen-up {
	@media #{$small-screen-up} { @content; }
}

@mixin medium-screen-up {
	@media #{$medium-screen-up} { @content; }
}

@mixin large-screen-up {
	@media #{$large-screen-up} { @content; }
}

@mixin transition($seconds) {
	-webkit-transition: all $seconds ease;
	-moz-transition: all $seconds ease;
	-o-transition: all $seconds ease;
	transition: all $seconds ease;
}

@mixin center-block {
	display: block;
	margin-left: auto;
    margin-right: auto;	
}

@mixin medium-caret {
	border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

@mixin large-caret {
	border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

@mixin text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
  	user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

@mixin general-button {
	font-family: $header-font;
	color: white;
	border: none;
	height: $general-button-height;

	&:hover, &:focus {
		color: white;
    	outline: none;
	}
}

@mixin cancel-button {
	@include general-button;
	background: $gray;

	&:hover, &:focus {
    	background: $dark-gray;;
    }
}

@mixin reset-button {
	@include general-button;
	background: lighten($red, 5%);

	&:hover, &:focus {
		background: $red;
	}

	&.inactive, &:disabled {
    	background: $dark-gray;
    	pointer-events: none;
    	opacity: 0.8;
    }
}

@mixin submit-button {
	@include general-button;
	background: $light-orange;

	&:hover, &:focus {
    	background: $orange;
    }

    &.inactive, &:disabled {
    	background: $dark-gray;
    	pointer-events: none;
    	opacity: 0.8;
    }
}

@mixin okay-button {
	@include general-button;
	background: lighten($green, 5%);

	&:hover, &:focus {
    	background: $green;
    }

    &.inactive, &:disabled {
    	background: $dark-gray;
    	pointer-events: none;
    	opacity: 0.8;
    }
}
