@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600|Open+Sans+Condensed:300,700);

//Media Query
$extra-small-screen-only: "(max-width: 768px)";
$small-screen-up: "(min-width: 768px)";
$medium-screen-up: "(min-width: 992px)";
$large-screen-up: "(min-width: 1200px)";

// Colors
$yellow: #fad089;
$green: #66CC99;
$asphalt: #34495e;

$light-orange: #F27935;
$orange: #F9690E;

$red: #EF4836;

$very-dark-gray: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #dddddd;
$very-light-gray: #f3f3f3;

$warsize-dropdown-bg-color: $green;

$link-color: #337ab7;
$link-color-hover: #23527c;


// Typography
@font-face {
    font-family: 'supercell-magic';
    src: url('../fonts/Supercell-magic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

$header-font: 'supercell-magic', Arial, sans-serif;
$body-font: Arial, sans-serif;



// Measurements
$sidebar-width: 250px;

$warsize-dropdown-width: 11rem;

$modal-header-height: 51px;
$modal-footer-height: 56px;

