<div class="row clanwar-planner-wrapper">
	<div class="action-buttons-wrapper text-right" ng-if="isLeader()">
		<button class="btn btn-default submit-button" ng-click="startNewWarModal('sm')">
			Start New War
		</button>
<!-- 		<button class="btn btn-default okay-button">
			Record Result
		</button> -->
	</div>
	<uib-tabset active="active" class="planner-tabs">
		<uib-tab index="0" heading="{{planner.header.signup}}">
			<div class="col-xs-2 text-center">
				<h5>Opponent Rank</h5>
			</div>
			<div class="col-xs-7 text-center">
				<h5>Callers</h5>
			</div>
			<div class="col-xs-3 text-center">
				<h5>Your Targets</h5>
			</div>
			<ul class="col-xs-12 sign-up-list body-for-sticky-bottom">
			    <li ng-repeat="index in range(0, warSize)" class="row">
			    	<div class="col-xs-2 text-center opponent-index">
			    		{{index+1}}
			    	</div>
			    	<div class="col-xs-8 current-signer-list" ng-class="{'contains-current':containsTarget(index)}">
			    		<div class="col-xs-6 col-sm-4 col-md-3 signer-label" ng-repeat="signer in signerList[index]"><span ng-show="signer.warrank">{{signer.warrank}}. </span>{{signer.name}}</div>
			    	</div>
			    	<div class="col-xs-1 text-center sign-up-checkbox">
			    		<span class="glyphicon" ng-click="checkTarget(index)" ng-class="{'glyphicon-check':containsTarget(index), 'glyphicon-unchecked':!containsTarget(index)}" ng-hide="viewMode()"></span>
			    	</div>
			    	<div class="col-xs-1 text-center sign-up-preference" ng-show="getPreference(index)">
			    		{{getPreference(index) | ordinal}}
			    	</div>
			    </li>
			</ul>
			<div class="col-xs-12 text-right action-buttons sticky-bottom-bar">
				<div class="text-right" ng-hide="viewMode()">
					<button class="btn btn-default cancel-button" ng-click="clearAllTargets()">Clear</button>
					<button class="btn btn-default submit-button" ng-class="{'inactive':selectTargets.length<1}" ng-click="submitSignUp()">Submit</button>
				</div>
				<div class="text-right" ng-show="viewMode()">
					<button class="btn btn-default submit-button" ng-click="editSignUp()">Edit</button>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="{{planner.header.arrange}}" ng-if="isLeader()">
		<div class="row">
			<div class="col-sm-9 arrangement-column">
				<div class="col-xs-2 text-center">
					<h5>Opponent Rank</h5>
				</div>
				<div class="col-xs-10 text-center">
					<h5>Arrangement</h5>
				</div>
				<ul class="col-xs-12 sign-up-list body-for-sticky-bottom">
					<li ng-repeat="index in range(0, warSize)" class="row">
						<div class="col-xs-2 text-center opponent-index">
			    		{{index+1}}
			    		</div>
			    		<div class="col-xs-10 arrange-drop-list" data-drop="!arrangeViewMode" ng-model='arrangementList[index]' jqyoui-droppable="{multiple:true}" data-jqyoui-options="arrangementOptions(index)">
			    			<div class="arrange-label-list" ng-class="{'inactive':arrangeViewMode}" ng-repeat="item in arrangementList[index] track by $index" ng-show="item.name" data-drag="!arrangeViewMode" data-jqyoui-options="{revert: 'invalid'}" ng-model="arrangementList[index]" jqyoui-draggable="{index: {{$index}}}">
			    				<div class="row">
			    					<div class="draggable-icon">
			    						<span class="glyphicon glyphicon-move"></span>
			    					</div>
			    					<div class="col-xs-12 arrange-label">
			    						<span ng-show="item.warrank">{{item.warrank}}. </span>{{item.name}}
			    					</div>
			    					<div class="removable-icon" ng-click="removeLabel(item, index)" ng-hide="arrangeViewMode">
			    						<span class="glyphicon glyphicon-remove"></span>
			    					</div>
			    				</div>
			    			</div>
			    		</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-3 row waitinglist-column">
				<div class="col-xs-12" data-drop="true" jqyoui-droppable jqyoui-droppable="{multiple:true}" ng-model='waitingList' ng-hide="arrangeViewMode">
					<h5 class="row waiting-list-title">Waiting List</h5>
					<li class="waitinglist-label-list row" ng-repeat="item in waitingList track by $index" data-drag="true" jqyoui-draggable="{index: {{$index}}}" ng-show="item.name" data-jqyoui-options="{revert: 'invalid'}" ng-model="waitingList">
						<div class="draggable-icon">
				    		<span class="glyphicon glyphicon-move"></span>
				    	</div>
				    	<div class="col-xs-2">
				    		{{item.warrank}}
				    	</div>
				    	<div class="col-xs-10 waitinglist-label">
				    		{{item.name}}
				    	</div>
					</li>
				</div>
			</div>
		</div>
		<div class="col-xs-12 action-buttons sticky-bottom-bar">
			<div ng-hide="arrangeViewMode" class="text-right">
				<button class="btn btn-default cancel-button" ng-click="arrangeViewMode=true">Cancel</button>
				<button class="btn btn-default submit-button" ng-click="arrangeViewMode=true">Submit</button>
			</div>
			<div ng-show="arrangeViewMode" class="text-right">
				<button class="btn btn-default submit-button" ng-click="arrangeViewMode=false">Edit</button>
			</div>
		</div>
		</uib-tab>
	</uib-tabset>
</div>

