<form class="row war-details-wrapper" name="warDetails">
	<div class="row war-details-header" ng-class="{'won':war.won}">
		<div class="view-mode" ng-hide="editMode">
			<div class="details-date text-center">
				<div class="details-date-month">
					{{warDate.format('MMMM')}}
				</div>
				<div class="details-date-day">
					{{warDate.format('D')}}
				</div>
				<div class="details-date-year">
					{{warDate.format('YYYY')}}
				</div>
			</div>
			<div class="col-xs-6 text-center details-header-section">
				<div class="col-xs-12 details-clan-name">
					{{clanName}}
				</div>
				<div class="col-xs-12 details-clan-score">
					{{war.score}}
				</div>
				<div class="col-xs-12 details-clan-destruction">
					Total Destruction: {{war.destruction}}%
				</div>
			</div>
			<div class="col-xs-6 text-center details-header-section">
				<div class="col-xs-12 details-clan-name">
					{{war.opponent}}
				</div>
				<div class="col-xs-12 details-clan-score">
					{{war.opponent_score}}
				</div>
				<div class="col-xs-12 details-clan-destruction">
					Total Destruction: {{war.opponent_destruction}}%
				</div>
			</div>
			<div class="col-xs-12 text-center">
				<div>
					{{war.size}} vs. {{war.size}}
				</div>
				<div class="war-result-text">
					{{wonText}}
				</div>
				<div class="button-actions-wrapper edit-button-wrapper" ng-show="isLeader()">
					<button class="btn btn-default submit-button" ng-click="switchEditMode()">Edit</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 edit-mode" ng-show="editMode">
			<div class="col-xs-12 extra-edit-field">
				<div class="row">
					<div class="col-xs-6 form-horizontal">
						<div class="form-group">
							<label for="wardate" class="col-sm-4 control-label">War Date</label>
							<div class="col-sm-8">
								<p class="input-group">
									<input type="text" class="form-control date-picker" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 form-horizontal">
						<div class="form-group">
							<label for="warsize" class="col-sm-4 control-label">War Size</label>
							<div class="col-sm-8">
								<div class="btn-group" uib-dropdown>
									<button id="war-size-button" type="button" class="btn war-size-button-edit" uib-dropdown-toggle ng-model="warSizeText">
										{{warSizeText}} <span class="caret"></span>
									</button>
									<ul uib-dropdown-menu role="menu" aria-labelledby="war-size-button" class="war-size-dropdown">
										<li role="menuitem" ng-repeat="size in warSizeOptions" value="{{size}}" ng-click="setWarSize(size)">{{size}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 form-horizontal">
				<div class="col-xs-12 text-center clan-edit-header">
					Your Clan
				</div>
				<div class="form-group">
					<label for="clanname" class="col-sm-4 control-label">Name</label>
					<div class="col-sm-8 your-clan-name">
						{{clanName}}
					</div>
				</div>
				<div class="form-group">
					<label for="totalstars" class="col-sm-4 control-label">Stars</label>
					<div class="col-sm-8">
						<input type="number" ng-model="war.score" ng-value="war.score" class="form-control" id="totalstars" placeholder="Enter Stars" min="0" max="{{warSize()*3}}" ignore-mouse-wheel>
					</div>
				</div>
				<div class="form-group">
					<label for="totaldestruction" class="col-sm-4 control-label">Total Destruction</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="number" ng-model="war.destruction" ng-value="war.destruction" class="form-control" id="totaldestruction" placeholder="Enter Total Destruction" min="0" max="100" step="0.01" ignore-mouse-wheel />
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 form-horizontal">
				<div class="col-xs-12 text-center clan-edit-header">
					Opponent Clan
				</div>
				<div class="form-group">
					<label for="opponentclan" class="col-sm-4 control-label">Name or Tag</label>
					<div class="col-sm-8">
						<input type="text" ng-model="war.opponent" ng-value="war.opponent" class="form-control" id="opponentclan" placeholder="Enter Name" />
					</div>
				</div>
				<div class="form-group">
					<label for="opponenttotalstars" class="col-sm-4 control-label">Stars</label>
					<div class="col-sm-8">
						<input type="number" ng-model="war.opponent_score" ng-value="war.opponent_score" class="form-control" id="opponenttotalstars" placeholder="Enter Stars" min="0" max="{{warSize()*3}}" ignore-mouse-wheel />
					</div>
				</div>
				<div class="form-group">
					<label for="totaldestruction" class="col-sm-4 control-label">Total Destruction</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="number" ng-model="war.opponent_destruction" ng-value="war.opponent_destruction" class="form-control" id="totaldestruction" placeholder="Enter Total Destruction" min="0" max="100" step="0.01" ignore-mouse-wheel />
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 button-actions-wrapper text-right" ng-show="editMode&&isLeader()">
				<button class="btn btn-default cancel-button" ng-click="switchEditMode()">Cancel</button>
				<button class="btn btn-default submit-button" ng-click="switchEditMode()" ng-disabled="warDetails.$invalid">Submit</button>
			</div>
		</div>
	</div>
	<ul class="row war-details-list-wrapper">
	    <li class="war-details-list col-xs-12" ng-repeat="member in warMembers">
	    	<div class="col-xs-1 text-center war-rank">
	    		{{$index+1}}
	    	</div>
	    	<div class="col-xs-11">
	    		<div class="row">
	    			<div class="col-xs-4 war-member">
	    				{{member.name}}
	    			</div>
	    			<div class="col-xs-4">
	    				<div class="row">
	    					<div class="col-xs-6" ng-class="{'attack-header-edit':editMode}">
	    						<strong>Attack 1</strong>
	    					</div>
	    					<div class="col-xs-6 war-stars" ng-show="member.attack1&&!editMode">
	    						<img ng-src="img/shared/star_{{member.attack1_stars}}.png">
	    					</div>
	    					<div class="col-xs-6" ng-show="editMode&&member.attack1">
	    						<div class="btn-group btn-group-stars" uib-dropdown>
	    							<button id="stars-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
	    								<img ng-if="member.attack1_stars!=null" ng-src="img/shared/star_{{member.attack1_stars}}.png">
	    								<img ng-if="member.attack1_stars==null" ng-src="img/shared/star_0.png">
	    								<span class="caret"></span>
	    							</button>
	    							<ul uib-dropdown-menu role="menu" aria-labelledby="stars-dropdown" class="stars-dropdown-wrapper text-center">
	    								<li role="menuitem" ng-click="member.attack1_stars=0"><a><img src="img/shared/star_0.png" alt="0 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack1_stars=1"><a><img src="img/shared/star_1.png" alt="1 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack1_stars=2"><a><img src="img/shared/star_2.png" alt="2 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack1_stars=3"><a><img src="img/shared/star_3.png" alt="3 star"></a></li>
	    							</ul>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-xs-6" ng-hide="editMode">
	    						{{getAttackTarget(member.attack1)}}
	    					</div>
	    					<div class="col-xs-6" ng-show="editMode">
	    						<span class="opponent-rank-label">Opponent</span>
	    						<input type="number" class="form-control" placeholder="Not Used" ng-model="member.attack1" ng-value="member.attack1" min="1" max="{{warSize()}}" ignore-mouse-wheel />
	    					</div>
	    					<div class="col-xs-6" ng-hide="editMode">
	    						{{member.attack1_percentage}}<span ng-show="member.attack1_percentage">%</span>
	    					</div>
	    					<div class="col-xs-6" ng-show="editMode&&member.attack1">
	    						<span>Percentage</span>
	    						<div class="input-group">
	    						<input type="number" class="form-control" placeholder="0" ng-model="member.attack1_percentage" ng-value="member.attack1_percentage" min="0" max="100" ignore-mouse-wheel>
	    							<span class="input-group-addon">%</span>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-xs-4">
	    				<div class="row">
	    					<div class="col-xs-6" ng-class="{'attack-header-edit':editMode}">
	    						<strong>Attack 2</strong>
	    					</div>
	    					<div class="col-xs-6 war-stars" ng-if="member.attack2&&!editMode">
	    						<img ng-src="img/shared/star_{{member.attack2_stars}}.png">
	    					</div>
	    					<div class="col-xs-6" ng-if="editMode&&member.attack2">
	    						<div class="btn-group btn-group-stars" uib-dropdown>
	    							<button id="stars-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
	    								 <img ng-if="member.attack2_stars!=null" ng-src="img/shared/star_{{member.attack2_stars}}.png">
	    								 <img ng-if="member.attack2_stars==null" ng-src="img/shared/star_0.png">
	    								 <span class="caret"></span>
	    							</button>
	    							<ul uib-dropdown-menu role="menu" aria-labelledby="stars-dropdown" class="stars-dropdown-wrapper text-center">
	    								<li role="menuitem" ng-click="member.attack2_stars=0"><a><img src="img/shared/star_0.png" alt="0 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack2_stars=1"><a><img src="img/shared/star_1.png" alt="1 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack2_stars=2"><a><img src="img/shared/star_2.png" alt="2 star"></a></li>
	    								<li role="menuitem" ng-click="member.attack2_stars=3"><a><img src="img/shared/star_3.png" alt="3 star"></a></li>
	    							</ul>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-xs-6" ng-hide="editMode">
	    						{{getAttackTarget(member.attack2)}}
	    					</div>
	    					<div class="col-xs-6" ng-show="editMode">
	    						<span class="opponent-rank-label">Opponent</span>
	    						<input type="number" class="form-control" placeholder="Not Used" ng-model="member.attack2" ng-value="member.attack2" min="1" max="{{warSize()}}" ignore-mouse-wheel>
	    					</div>
	    					<div class="col-xs-6" ng-hide="editMode">
	    						{{member.attack2_percentage}}<span ng-show="member.attack2_percentage">%</span>
	    					</div>
	    					<div class="col-xs-6" ng-show="editMode&&member.attack2">
	    						<span>Percentage</span>
	    						<div class="input-group">
	    						<input type="number" class="form-control" placeholder="0" ng-model="member.attack2_percentage" ng-value="member.attack2_percentage" min="0" max="100" ignore-mouse-wheel>
	    							<span class="input-group-addon">%</span>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>	
	    	</div>
	    </li>
	</ul>
</form>
