<div class="row">
	<div class="col-xs-8 war-log-header">
		War Log
	</div>
	<div class="col-xs-4 war-log-add-button text-right" ng-if="isLeader()">
		<span class="text-right glyphicon glyphicon-plus-sign"></span>
	</div>
	<ul class="row warlog-list-wrapper">
	    <li class="col-xs-12 warlog-list" ng-repeat="war in wars" ng-class="{'won':war.won}">
	    	<div class="warlog-date">
	    		{{formatDate(war.date)}}
	    	</div>
	    	<div class="col-xs-4 warlog-clan-name text-center">
	    		<div>
	    			{{clanName}}
	    		</div>
	    		<div class="war-score">
	    			<span class="glyphicon glyphicon-star"></span>{{war.score}}
	    		</div>
	    	</div>
	    	<div class="col-xs-2 vs-text text-center">
	    		{{war.size}} V.S {{war.size}}
	    	</div>
	    	<div class="col-xs-4 opponent-clan-name text-center">
	    		<div>
	    			{{war.opponent}}
	    		</div>
	    		<div class="war-score">
	    			<span class="glyphicon glyphicon-star"></span>{{war.opponent_score}}
	    		</div>
	    	</div>
	    	<div class="col-xs-2 warlog-detail">
	    		<a class="btn btn-default warlog-detail-button" ng-href="#/war/{{$index}}">Details</a>
	    	</div>
	    </li>
	</ul>
</div>